--index-url https://download.pytorch.org/whl/cpu
torch==2.6.0+cpu
torchvision==0.21.0+cpu
torchcodec==0.2.1

--extra-index-url https://pypi.org/simple
lerobot==0.4.4
pyarrow
pyyaml
pillow
tqdm
av==15.1.0
opencv-python-headless
